version: '3.8'

services:
  redis-senex:
    image: docker.io/redis:8-alpine
    container_name: redis-senex
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data
    restart: unless-stopped
    read_only: true
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
